{% extends "blog_base.html" %}

{% block content %}
<header class="small"><h1><a href="/blog">Cocode</a></h1></header>

<section class="large">
    <article>
        <h2><a id="back" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2>

        <ul>
            <li>{{ article.date|strftime('%d %B %Y') }}</li>
            <li>{{ article.tags|count }} Tags</li>
            <li>{{ article.disqus_comment_count }} Comments</li>
            <li>0 Shares</li>
        </ul>

        {{ article.content }}

        {% if article.tags %}
          <div class="tags">
            {% for tag in article.tags %}
            <a href="#" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="card">
            <img src="{{ article.avatar }}" />

            <div class="author">
                <a href="#"><strong>{{ article.author }}</strong></a>
                <p>{{ article.position }}</p>
            </div>

            <div class="date">
                <strong>Published</strong>
                <p><time>{{ article.date|strftime('%d %B %Y') }}</time></p>
            </div>
        </div>
    </article>
</section>

<script type="text/javascript">
/* Screw jQuery, we can do this the old fashioned way */
    
window.onclick = hrefEvent;

function hrefEvent(e){
    e = e || window.event;
    var t = e.target || e.srcElement
    if ( t.href == "{{ SITEURL }}/blog"){
        animateBack();
        return false;
    } else if ( t.href == "{{ SITEURL }}/{{ article.url }}") {
        return false;
    }
return true; 
}

function animateBack(){
    document.getElementsByClassName('small')[0].classList.add("animback");
    document.getElementsByClassName('large')[0].classList.add("animback");
    setTimeout(function(){window.location = "{{ SITEURL }}/blog";},650);
}
    
</script>

<script>
//alert(document.referrer.indexOf("{{SITEURL}}") );

if (document.referrer.indexOf("{{SITEURL}}") != 0){
document.getElementsByClassName('small')[0].classList.add("noanim");
document.getElementsByClassName('large')[0].classList.add("noanim");
}
</script>
{% endblock %}

