<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cocode.css" type="text/css" />
        {% block extra_head %}{% endblock %}
    </head>

    <body style="background: #eee;">
        {% block body %}
            <div style="background: white; padding: 5px 30px 30px; width: 250px; margin: 200px auto; text-align: center;">
            {% block content %}
            {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>