<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cocode.css" type="text/css" />
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}

        {% include 'analytics.html' %}
    </body>
</html>

