<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cocode.css" type="text/css" />
        <!--[if lt IE 9]>  
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
        <![endif]-->
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
    </body>
</html>

