{% extends "blog_base.html" %}

{% block content %}
<header><h1><a href="/blog">Cocode</a></h1></header>

<section>
  {% for article in articles_page.object_list %}
  <div class="timeline-bullet icon-{{ article.category }}"></div>
  <article>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2>

        <ul>
            <li>{{ article.date|strftime('%d %B %Y') }}</li>
            <li>{{ article.tags|count }} Tags</li>
            <li>{{ article.disqus_comment_count }} Comments</li>
            <li>0 Shares</li>
        </ul>

        <p class="summary">
          {{ article.summary|striptags }}
        </p>

        <a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a>

        {% if article.tags %}
          <div class="tags">
            {% for tag in article.tags %}
            <a href="#" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </article>
  {% endfor %}
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript">
function fixBg(){
    var bgheight = ($('header').width() / 930) * 476;
    var offset = $(window).height() - bgheight - (($('header').width() / 370)*435);
    $('header').css('background-position', 'bottom , 0 '+offset+'px');
}

fixBg();
$(window).resize(function() { fixBg() });
</script>
{% endblock %}

