{% extends "base.html" %}

{% block extra_head %}
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}

{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}

<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })(         );
</script>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script type="text/javascript">
        function f(){
            var a=($("header").width()/930)*476;var b=$(window).height()-a-(($("header").width()/370)*435);$("header").css("background-position","bottom , 0 "+b+"px");
            $(".timeline").each(function(){$(this).height($(this).parent().height())})
            $('.timeline:last-of-type').height(document.height - $('.timeline:last-of-type').offset().top);
        }
        $(window).resize(f);
        f();

      {% if DISQUS_SITENAME %}
        var disqus_shortname = '{{ DISQUS_SITENAME }}';

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      {% endif %}
    </script>
{% endblock %}

