{% extends "base.html" %}

{% block extra_head %}
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}

{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
    <script type="text/javascript">
        function f(){
            var a=($("header").width()/930)*476;var b=$(window).height()-a-(($("header").width()/370)*435);$("header").css("background-position","bottom , 0 "+b+"px");
            $(".timeline").each(function(){$(this).height($(this).parent().height())})
            $('.timeline:last-of-type').height(document.height - $('.timeline:last-of-type').offset().top);
        }
        $(window).resize(f);
        f();
    </script>
{% endblock %}

