{% extends "blog_base.html" %}

{% block content %}
<header><h1><a href="{{ SITEURL }}/{{ BLOG_URL }}">Cocode</a></h1></header>

<section>
  {% for article in articles_page.object_list %}
  <div class="timeline-bullet icon-{{ article.category }}"></div>
    <article>
        <div class="timeline"></div>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>

        {% include 'article_meta.html' %}

        {{ article.summary }}

        <a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a>

        {% if article.tags %}
          <ul class="tags">
            {% for tag in article.tags %}
              <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    </article>
  {% endfor %}
</section>
{% endblock %}

