{% extends "blog_base.html" %}

{% block mixpanel_event %}
mixpanel.track('View Page', {
    title: "{{ page.title|striptags }}",
    category: "{{ page.category }}"
});
{% endblock %}

{% block title %}{{ page.title|striptags }}{% endblock %}

{% block body_id %}{{ page.category }}{% endblock %}

{% block header %}
<header class="small">
    <a href="{{ SITEURL }}//{{ BLOG_URL }}">
        <h1>Cocode</h1>
    </a>
</header>
{% endblock %}

{% block section_id %}large{% endblock %}

{% block content %}
    <article>
        <h1><a id="back" href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a></h1>

        {% if page.date %}
        <small>Last updated at: {{ page.date|strftime('%d %B %Y') }}</small>
        {% endif %}

        {{ page.content }}
    </article>
{% endblock %}

