html, body {
    height: 100%;
}

html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

body {
    font-family:'Open Sans',sans-serif;
    font-weight:400;
    font-style:normal;
    color:#57565e;
    font-size:16px;
    line-height:1.6em;
    padding: 0;
    margin: 0;
}

a {
    color: #ed7859;
    text-decoration: none;
    border-bottom: 1px solid #f6d2cb;

    transition:.2s;
    -webkit-transition: 0.2s;

    transition-property: color, background, border-bottom;
    -webkit-transition-property: color, background, border-bottom;

    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
    color: #c04b2c;
    border-bottom: 1px solid #c04b2c;
}

h1 a, h2 a, h3 a, h4 a, h5 a { color: #2C2C2E; border: 0; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { color: #ed7859; border: 0; }

h2 {
    font-size: 30px;
    margin: 32px 0 5px 0;
    line-height:1.3em;
}

h1 {
    background: url(/theme/img/logo_full.png) no-repeat;
    background-size: 230px 75px;
    width: 230px;
    height: 75px;
    margin-left: 20px;
}
h1 a {
    display: block;
    text-indent: -999px;
    width: 230px;
    height: 75px;
}

header {
    position: fixed;
    background: url(/theme/img/bg-bottom.jpg) bottom no-repeat,url(/theme/img/bg-repeat.jpg) 0px -167px;
    background-size: 100% auto;
    height:100%;
    float: left;
    width: 370px;
}

section {
    max-width: 700px;
    padding:  0 47px;
    margin-left: 315px;
    margin-top: 100px;
    padding-left: 100px;
    border-left: 4px solid rgba(255,255,255,0.45);
    position: absolute;
    z-index: 2;
    min-height: 100%;
}

article {
    padding-bottom: 50px;
    border-bottom: 1px solid #E9E9E7;
}

article:first-of-type {
    margin-top: -35px;
}

article:last-child {
    border-bottom: 0;
}

article > ul {
    list-style: none;
    margin: 0 0 9px 0;
    padding: 0;
}

article > ul li {
    color: #989899;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

article > ul li + li::before {
    content: "";
    background: #e9e9e7;
    display: block;
    border-radius:1px;
    width:5px;
    height:5px;
    margin: 10px;
    float: left;
}

.tags {
    margin-top: 35px;
}

.tag {
    background: #f2f2f2;
    padding: 3px 5px 3px 5px;
    color: #A4A4A4;
    border: none;
    border-radius: 3px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
    padding: 0 10px 4px;
}

.tag:hover {
    background: #ed7859;
    color: #fff;
    border: none;
}

.card {
    position: relative;
    border-top: 1px solid #E9E9E7;
    padding: 45px 5px 0;
    display: block;
    margin-top: 50px;
}

.card img {
    border-radius: 95px;
    height: 70px;
    width: 70px;
    display: block;
    position: absolute;
    left: 0;
    top: 35px;
}

.card .author {
    margin-left: 105px;
    margin-right: 200px;
    padding-right: 25px;
}

.card .date {
    width: 177px;
    padding-left: 25px;
    position: absolute;
    right: 0;
    top: 45px;
}

.card a {
    border: 0;
    color: #2C2C2E;
}

.card p {
    font-style: italic;
    color: #b3b3b1;
    margin: 0;
}

pre {
    background: #eee;
    border-radius: 5px;
    overflow: scroll;
    width: 600px;
    padding: 10px;
    color: #a4a4a4;
}

/* Disable selection of all elements except the ones that are interesting */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

p, h2 a, p *, pre, pre *, strong {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; 
}

::selection { background: #ed7859; color: #ffffff; }
::-moz-selection { background: #ed7859; color: #ffffff; }

.timeline-bullet {
    background: url(/theme/img/timeline-bullet.png);
    background-size: 60px 68px;
    width: 60px;
    height: 43px;
    position: absolute;
    margin: 32px 0 0 -132px;
    opacity: 1;
    text-align: center;
    padding-top: 25px;
}

.timeline-bullet:first-child {
    background-position: 0 -5px;
    height: 43px;
    margin: 0 0 0 -132px;
    padding-top: 20px;
}

div[class^='icon']:after, div[class*='icon']:after {
    content: "";
    display: inline-block;
    background: url(/theme/img/icon-general.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.icon-apps:after { background: url(/theme/img/icon-apps.png); }
.icon-date:after { background: url(/theme/img/icon-date.png); }
.icon-event:after { background: url(/theme/img/icon-event.png); }
.icon-labs:after { background: url(/theme/img/icon-labs.png); }
.icon-love:after { background: url(/theme/img/icon-love.png); }
.icon-picture:after { background: url(/theme/img/icon-picture.png); }
.icon-user:after { background: url(/theme/img/icon-user.png); }

/*temporary, for testing */
.icon-misc:after { background: url(/theme/img/icon-apps.png); }
.icon-cocode:after { background: url(/theme/img/icon-labs.png); }

/* smaller (tablet) version */
@media screen and (max-width: 1000px) {
    header {
        height: 280px;
        width: 100%;
        margin-bottom: 50px;
        position: relative;
    }

    section {
        margin: 320px auto;
        padding:  0 40px;
        max-width: none;
    }

    .timeline-bullet {display: none;}
    section { border-left: none; }
}

/* mobile version */
@media screen and (max-width: 500px) {
    header {
        height: 150px;
        margin-bottom: 25px;
        position: relative;
    }

    header h1 {
        width: 85px;
        margin: 30px auto;
    }

    header h1 a {
        width: 75px;
    }

    section {
        padding: 20px;
        margin-top: 165px;
        max-width: none;
    }

    .timeline-bullet {display: none;}
    section { border-left: none; }
}

/* different sidebar for article on large version */
@media screen and (min-width: 1000px) {
    header.small {
        margin-left: -250px;
    }

    header.small h1 {
        width: 85px;
        margin-left: 270px;
    }

    header.small h1 a {
        width: 75px;
    }

    header.small h1:after {
        content: "← go back";
        color: #b2aaaa;
        font-size: 14px;
        margin-left: -3px;
    }

    section.large {
        border-left: none;
        padding-left: 0;
        margin-left: 180px;
        margin-top: 50px;
        max-width: 750px;
    }
}